.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.modal-content{
    background-color: #f0f0f0 !important;
    padding: 2rem;
    border-radius: 10px ;
    width: 45% !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.modal-content h2{
    margin-top: 0;
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
    font-size: 2rem;
    font-weight: bold;

}
.modal-content form{
   margin: 0px 150px 0px ;
   
}
.modal-content form input {
  margin: 0;
}
.modal-content input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.boton-cargar{
    width: 35%;
    padding: 0.50rem;
    background-color: #218838;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.boton-cargar:hover{
    background-color: #155523;
}

.botones-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-volver{
    width: 20%;
    padding: 0.50rem;
    background-color: #218838;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.boton-volver:hover{
    background-color: #155523;
}

.form-archivos{
    
    border: 2px dashed #ccc;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
}
